# Ignore artifacts:
build
coverage

**/volumes/**
**/build/**
**/dist/**

# Ignore node_modules:
./node_modules
**/node_modules

# Ignore test coverage reports:
**/coverage/**

# Ignore pnpm lock files:
./pnpm-lock.yaml
**/pnpm-lock.yaml
