# Ignore artifacts:
build
coverage

**/volumes/**
**/build/**
**/dist/**

# Ignore node_modules:
./node_modules
**/node_modules

# Ignore test coverage reports:
**/coverage/**

## Client and server have their own prettier config
# Ignore client:
**/client

# Ignore server:
**/server
