.Toastify__toast-theme--colored.Toastify__toast--success {
	color: var(--color-success-100);
	background: var(--color-dark-700);
	border-radius: 10px;
	font-weight: semibold;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
	color: var(--color-warning-100);
	background: var(--color-dark-700);
	border-radius: 10px;
	font-weight: semibold;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
	color: var(--color-danger-100);
	background: var(--color-dark-700);
	border-radius: 10px;
	font-weight: semibold;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
	color: var(--color-primary-100);
	background: var(--color-dark-700);
	border-radius: 10px;
	font-weight: semibold;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
	background: var(--color-dark-300);
}

.Toastify__close-button {
	color: var(--color-dark-300);
}
